/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    min-height: 100%;
}

body {
    font-family: 'Courier New', Courier, monospace;
    background-color: #000;
    color: #0f0;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
}

header, footer {
    background: #000;
    color: #0f0;
    padding: 20px;
    text-align: center;
}

main {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    min-height: calc(100% - 40px); /* Adjust based on header/footer height */
}

.tab {
    display: flex;
    flex-direction: column;
    background-color: #000;
    width: 200px; /* Adjust width as needed */
    border-right: 2px solid #333;
}

.tab button {
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
    color: #0f0;
    text-align: left;
    width: 100%;
}

.tab button:hover, .tab button.active {
    background-color: #333;
    color: #fff;
}

.content-container {
    flex-grow: 1;
    padding: 20px;
}

.tabcontent {
    display: none;
    padding: 20px;
}

footer {
    background: #000;
    color: #0f0;
    padding: 20px;
    text-align: center;
}

a {
    color: #0f0;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.linkedin-link {
    text-decoration: underline;
}